<div class="fondo-producto">
    <div class="cuadroProducto">
        <div class="section-productoPortada">
            <div class="img-producto"></div>
            <button class="cerrarVentana" id="cerrarVentana">X</button>
            <label class="txtPrecio" for="precio">L. XXX,XXX.XX</label>
        </div>
        <div class="section-productoContenido">
            <div class="spc-left">
                <h2 class="titulo-producto">TITULO</h2>
                <p class="descripcionProducto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nobis, rerum recusandae tenetur neque tempora autem dicta? Vitae tenetur, eaque eum inventore, at soluta a, dolorum itaque alias libero veritatis?</p>
            </div>
            <div class="spc-right">
                <div class="cantidadInput">
                    <label for="cantidad">Cantidad: </label>
                    <p></p>
                    <input type="number" id="cantidad" name="cantidad" value="1" min="1" max="99">
                </div>
                <button>Añadir al carrito</button>
            </div>
        </div>
    </div>
</div>