<footer class="footerSite">
    <div class="sectionFooter-adyudaSoporte">
        <h3>Mas Informacion</h3>
        <ul class="nav-footer">
            <li><a href="">Información de Envío</a></li>
            <li><a href="">Reembolso</a></li>
            <li><a href="">Nosotros</a></li>
        </ul>
    </div>
    <div class="sectionFooter-miCuenta">
        <h3>Mi Cuenta</h3>
        <ul class="nav-footer">
            <li><a href="">Carrito</a></li>
            <li><a href="">Mis Facturas</a></li>
            <li><a href="">Mi Cuenta</a></li>
        </ul>
    </div>
    <div class="sectionFooter-terminosCondiciones">
        <h3>Terminos y Condiciones</h3>
        <ul class="nav-footer">
            <li><a href="">Informacion de Pagos</a></li>
            <li><a href="">Terminos y Condiciones</a></li>
        </ul>
    </div>
</footer>