<div class="ResumenCarrito">
    <h2>Resumen</h2>
    <div class="tablaResumenCarrito">
        <table class="ResumenCart">
            <thead>
                <th>Total a Pagar</th>
            </thead>
            <tbody>
                <tr>
                    <td>SubTotal</td>
                    <td></td>
                    <td>Cantidad$$$$$$</td>
                </tr>
                <tr>
                    <td>Envío</td>
                    <td></td>
                    <td>Cantidad$$$$$$</td>
                </tr>
                <tr>
                    <td>ISV</td>
                    <td></td>
                    <td>Cantidad$$$$$$</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td></td>
                    <td>Cantidad$$$$$$</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <button>Finalizar</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>