.Cuerpo{
    margin-top: 0;
    padding: 0;
    padding-top: 100px;
}

.ImgPortada{
    width: 100%;
    height: 300px;

    background-image: url(/img/BlankSpace.jpg);
    background-size: contain;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*Esto comprime y contiene a todos los hijos dentro del padre (Evita Overflow)*/
.producto * {
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
}

/*==========================INICIO: (OFERTAS / NUEVO / MAS VENDIDO)==========================*/

.Contenido-Section{
    margin: 0;
    padding: 0;
}

.Contenido-Categorias{
    margin: 0;
    padding: 0;
}

.case-contenido{
    padding: 0;
    margin-block-end: 10px;

    height: 100%;
    border-style: solid;
    border-color: var(--main-color);
    padding: 0;
}

.VentanaProducto{
    margin-block-end: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto{
    width: 90%;
    height: 350px;
    border-style: solid;
}

.producto-img{
    width: 100%;
    height: 75%;

    /*Dimensiones de Imagen (Producto)*/
    background-position: center;
    background-size: contain;
    background-image: url(/img/BlankSpace.jpg);
}

.producto-info{
    /*Dimensiones*/
    width: 100%;
    height: 25%;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
}

.producto-div-info{
    width: 50%;
    color: var(--text-color-white);
    padding-left: 30px;
    font-weight: bold;
}

.producto-div-carrito{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto-div-carrito > button{
    margin: 10px;
}

/*==========================SECCION DE CATEGORIA==========================*/
.contenido-galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

/* Centrar el último elemento si hay un número impar */
.contenido-galeria > .categoria-opcion:last-child:nth-child(odd) {
  grid-column: 1 / -1;      /* Ocupa todo el ancho del grid */
  justify-self: center;     /* Centra el bloque dentro de esa fila */
  width: 50%;               /* Ajusta el ancho si deseas que no se extienda completamente */
}

.categoria-opcion{
    border-style: solid;
}

.img-categoria{
    width: 100%;
    height: 120px;

    /*Dimensiones de Imagen (Categoria)*/
    background-size: contain;
    background-position: center;
    background-image: url(/img/BlankSpace.jpg);
}

.text-categoria{
    text-align: center;
}

/*==========================Dimensiones Tablet==========================*/
@media (min-width: 500px) {
    .contenido-galeria{
    grid-template-columns: repeat(3, 1fr);
    }
    .contenido-galeria > .categoria-opcion:last-child:nth-child(odd) {
    grid-column: auto;
    width: 100%;
    }
}

@media (min-width: 600px) {
    .contenido-Inicio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    }
}

@media (min-width: 768px) {
    .contenido-Inicio{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    }
    .contenido-galeria{
    grid-template-columns: repeat(4, 1fr);
    }
    .contenido-galeria > .categoria-opcion:last-child:nth-child(odd) {
    grid-column: auto;
    justify-self:left;
    }
}

/*==========================Dimensiones PC==========================*/
@media (min-width: 1100px) {
    .Cuerpo{
        margin-inline: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "bienvenida bienvenida"
            "ofertas ofertas"
            "nuevo mas-vendido"
            "categorias categorias";
        gap: 20px;
    }
    .Bienvenida{
        grid-area: bienvenida;
    }
    .Contenido-Section.Ofertas{
        grid-area: ofertas;
    }
    .Contenido-Section.LoNuevo{
        grid-area: nuevo;
    }
    .Contenido-Section.MasVendido{
        grid-area: mas-vendido;
    }
    .contenido-galeria{
    grid-template-columns: repeat(5, 1fr);
    }
    .Contenido-Categorias{
        grid-area: categorias;
    }
    .contenido-Inicio.Ofertas{
        grid-template-columns: repeat(5, 1fr);
        margin-inline: 20px;
    }
    .contenido-Inicio{
        margin-inline: 20px;
    }
    .contenido-Inicio.MasVendido{

    }
    .contenido-galeria > .categoria-opcion:last-child:nth-child(odd) {
    grid-column: auto;
    justify-self:center;
    }
}