body{
    /*Dimensiones*/
    margin: 0;
    padding: 0;

    /*Paleta de Colores*/
    --main-color: #1C22D9;
    --main-color-soft: #464BE7;
    --main-color-dark: #181DB9;
    --backgorund-color-white: #ffffff;
    --text-color-white: #ffffff;
    --text-color-black: #000000;
}

h1{
    margin: 0;
}

/*
Dimensiones Tablet:
500px 600px 768px

Dimensiones PC:
1100px
*/