.fondoLogin{
    height: 100vh;
    width: 100vw;
    background-color: #000000bb;
    display: flex;
    /*Alinear al Centro*/
    align-items: center;        /*Vertical*/
    justify-content: center;    /*Horizontal*/
}

.CuadroLogin{
    /*Dimensiones*/
    width: 90%;
    height: 50%;

    background-color: var(--backgorund-color-white);
    padding: 0;
    margin: 0;
}

.headerLogin{
    background-color: var(--main-color);
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLogin > h2{
    margin: 0;
    padding: 0;
    color: var(--text-color-white);
    text-align: center;
}

.cuerpoLogin{
    display: flex;
    flex-direction: column;
    height: 80%;
    gap: 20px;

    align-items: center;
    justify-content: center;

}

.inputLogin{
    display: flex;
    flex-direction: column;
}

/*Dimensiones Tablet*/



@media (min-width: 600px){
    .CuadroLogin{
        width: 50%;
    }
}

/*Dimensiones PC*/
@media (min-width: 1100px){
    .CuadroLogin{
        width: 40%;
        height: 60%;
    }
}