.Cuerpo{
    margin-top: 0;
    padding: 0;
    padding-top: 100px;
}

.ImgPortada{
    width: 100%;
    height: 300px;

    background-image: url(/img/BlankSpace.jpg);
    background-size: contain;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuadroText{
    margin: 20px;
    background-color: var(--main-color);
}

.cuadroText > p{
    text-align: justify;
    padding: 10px;
    color: var(--text-color-white);
}

.cuadro-nosotros{
    color: var(--text-color-white);
    background-color: var(--main-color);
    padding: 10px;
}

.formularioContacto{
    display: flex;
    flex-direction: column;
}

@media (min-width: 500px) {
    .Cuerpo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mision-vision-nosotros{
        width: 80%;
    }
    .contacto-nosotros{
        width: 80%;
    }
    .redes-nosotros{
        width: 80%;
    }
}

@media (min-width: 700px) {
    .mision-vision-nosotros{
        display: flex;
        width: 100%;
    }
    .contacto-nosotros{
        width: 80%;
    }
    .redes-nosotros{
        width: 80%;
    }
}

@media (min-width: 900px) {
    .mision-vision-nosotros{
        width: 80%
    }
    .cuadro-nosotros.contacto{
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .redes-nosotros{
        width: 80%;
    }
}