.Cuerpo{
    margin-top: 0;
    padding: 0;
    padding-top: 100px;
}

.ImgPortada{
    width: 100%;
    height: 300px;

    background-image: url(/img/BlankSpace.jpg);
    background-size: contain;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuadroText{
    margin: 20px;
    background-color: var(--main-color);
}

.cuadroText > p{
    text-align: justify;
    padding: 10px;
    color: var(--text-color-white);
}

.mision-vision-nosotros{
    color: var(--text-color-white);
    gap: 10px;
}

.Mision-cuadro{
    background-color: var(--main-color);
}

.Vision-cuadro{
    background-color: var(--main-color);
}

.contacto-nosotros{
    
}

.redes-nosotros{

}