<header class="headerSite">
    <div class="header-logo"></div>
    <div class="header-title"><h1>TecOneBest</h1></div>
    <nav class="header-nav">
        <ul class="header-nav-ul">
            <li class="header-itemlist"><a href="#" data-route="inicio">Inicio</a></li>
            <li class="header-itemlist"><a href="#" data-route="inicio" data-scroll="categorias">Categorias</a></li>
            <li class="header-itemlist"><a href="#" data-route="nosotros">Nosotros</a></li>
            <li class="header-itemlist"><a href="#" data-route="carrito">Carrito</a></li>
        </ul>
    </nav>
</header>